<?xml version="1.0"?>
<phpunit
  colors="true"
  backupGlobals="false"
  backupStaticProperties="false"
  cacheDirectory=".phpunit.cache"
  processIsolation="false"
  stopOnFailure="false"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
>
  <coverage includeUncoveredFiles="true"/>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="default">
      <directory>./tests/unit/src</directory>
    </testsuite>
  </testsuites>
</phpunit>
